body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

em-emoji-picker {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  em-emoji-picker {
    width: 100vw;
  }
}

svg {
  fill: currentColor;
}

[hidden]{
  display: none !important;
}